<!-- <button mat-raised-button>Click</button> -->

<!----------------------------------------------------- TYPOGRAPHY ------------------------------------------------>

<!-- <div class="mat-display-4">Display 4</div>
<div class="mat-display-3">Display 3</div>
<div class="mat-display-2">Display 2</div>
<div class="mat-display-1">Display 1</div>

<div class="mat-headline">Heading H1</div>
<div class="mat-title">Heading H2</div>
<div class="mat-subheading-2">Heading H3</div>
<div class="mat-subheading-1">Heading H4</div>

<div class="mat-body-1">Body Text</div>
<div class="mat-body-2">Bold Body Text</div>
<div class="mat-caption">Caption Text</div>

<div class="mat-typography">
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
</div> -->

<!----------------------------------------------------- BUTTON ------------------------------------------------>

<!-- <div>
  <button mat-button>button</button
  ><button mat-raised-button>raised button</button
  ><button flat-button>flat button</button
  ><button stroked-button>stroked button</button>
</div>

<div>
  <button mat-icon-button>icon</button><button mat-fab>fab</button
  ><button mat-mini-fab>mini fab</button>
</div>

<div>
  <button color="primary" mat-button>primary</button
  ><button color="accent" mat-button>accent</button
  ><button color="warn" mat-button disableRipple="">warn without ripple</button
  ><button color="primary" mat-raised-button>primary</button
  ><button color="accent" mat-raised-button>accent</button
  ><button color="warn" mat-raised-button>warn</button>
</div> -->

<!----------------------------------------------------- BUTTON TOGGLE ------------------------------------------------>

<!-- <div>
  <mat-button-toggle #toggleBtn>toggle</mat-button-toggle>
  {{ toggleBtn.checked }}
</div>

<div class="mat-body-2">Single Selection</div>

<div>
  <mat-button-toggle-group #matButtonValue="matButtonToggleGroup">
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
</div>
{{ matButtonValue.value }}

<div class="mat-body-2">Multiple Selection</div>

<div>
  <mat-button-toggle-group
    #matButtonValueMultiple="matButtonToggleGroup"
    multiple
  >
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
</div>
{{ matButtonValueMultiple.value }} -->

<!----------------------------------------------------- ICONS ------------------------------------------------>
<!-- 
<mat-icon>home</mat-icon>
<mat-icon>bolt</mat-icon>
<mat-icon>Menu</mat-icon>
<mat-icon>Delete</mat-icon> -->

<!----------------------------------------------------- BADGES ------------------------------------------------>
<!-- <br />
<div>
  <span matBadge="2">notification</span>
</div>

<div>
  <span matBadge="5" matBadgePosition="below before">notification</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below after">notification</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above before">notification</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above after">notification</span>
</div>

<div><span matBadge="5" matBadgeSize="small">small</span></div>
<div><span matBadge="5" matBadgeSize="medium">medium</span></div>
<div><span matBadge="5" matBadgeSize="large">large</span></div>

<p>Interpolation and conditioning</p>

<div>
  <span [matBadge]="badgeNum" [matBadgeHidden]="badgeNum === 7"
    >Notification</span
  >
</div>

<div><span matBadge="5" matBadgeOverlap="false">No Overlap</span></div>

<div><span matBadge="5" matBadgeColor="primary">small</span></div>
<div><span matBadge="5" matBadgeColor="accent">medium</span></div>
<div><span matBadge="5" matBadgeColor="warn">large</span></div> -->

<!------------------------------------------------- PROGRESS SPINNER ---------------------------------------------->

<mat-spinner></mat-spinner>

<mat-progress-spinner
  class="example-margin"
  [color]="color"
  [mode]="mode"
  [value]="value"
>
</mat-progress-spinner>

<mat-spinner *ngIf="spinner"></mat-spinner>
<button (click)="loadBtn()">CLICK</button>
